<!-- start custom analytics snippet -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2MN995FKFK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2MN995FKFK');
</script>
<!-- plausible -->
<script defer data-domain="xxchan.github.io" src="https://plausible.io/js/script.js"></script>
<!-- end custom analytics snippet -->