---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

$base-font: "weblysleek_uilight", "weblysleekui", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;

body {
    font-family: $base-font;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font;
}

