---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import AuthorCard from "../components/AuthorCard.astro";

const posts = (
  await getCollection(
    "blog",
    (_entry) =>
      // entry.data.locale === 'en'
      true
  )
).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const latestPosts = posts.slice(0, 6);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <h1>Latest posts</h1>
    <PostList posts={latestPosts} showExcerpt />
    <p>
      <a href="/blog/">Browse all posts →</a>
    </p>
    <AuthorCard />
  </section>
</BaseLayout>
